$primary-turquoise: #102434;
$primary-body: #787a7b;
$primary-title: #333;
$primary-btn: #3e7fff;
// $smartphone-small: "only screen and (max-width: 575px)";
// $smartphone-smalltotablet: "only screen and (max-width:  768px)";
// $smartphone-smalltolarge: "only screen and (min-width: 426px)";
// $smartphone-xsmall: "only screen and (min-width: 321px)";
// $smartphone-xsmall-max: "only screen and (max-width: 321px)";
// $smartphone-small-max: "only screen and (max-width: 375px)";
// $smartphone-tablet: "only screen and (min-width: 768px)";
$smartphone-tablet: "only screen and (max-width: 768px)";
$smartphone-tablet-min: "only screen and (width: 768px)";
$smartphone-tablet-pro: "only screen and (max-width: 1024px)";
$smartphone-tablet-min-pro: "only screen and (width: 1024px)";