body {
  font-family: 'Karla', sans-serif;
  color: $primary-body;
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
  color: $primary-title;
}

.btn-base-blue {
  background: #3e7fff;
}

.btn-base-white {
  padding: 0 40px;
  background: #fff;
  color: $primary-turquoise;
  border: 1px solid #fff;
}

.Header {
  position: relative;
  margin-bottom: 100px;

  .header-background {
    position: relative;
    margin-top: -85px;
    z-index: -10;
  }

  .wrap-search {
    position: absolute;
    top: 45%;

    .search-form {
      display: flex;

      input {
        width: 555px;
        box-shadow: 21px 6px 37px 6px rgba(0, 0, 0, 0.09);
        border: none;

        @media #{$smartphone-tablet} {
          width: 100%;
        }
        
        @media #{$smartphone-tablet-min} {
          width: 345px;
        }

        @media #{$smartphone-tablet-min-pro} {
          width: 465px;
        }
      }

      button {
        border: 1px solid #3e7fff;
      }
    }
  }
}

a {
  color: $primary-turquoise;

  &:focus,
  &:hover {
    color: $primary-body;
    text-decoration: none;
  }
}

.border-top-thick {
  border-top: 2px solid #99a1a8;
}

.border-top-thin {
  border-top: 1px solid #99a1a8;
}

.card-custom {
  border: none;
  text-align: left;

  img {
    object-fit: cover;
    border-radius: 0;
  }
}

.border-custom {
  border-radius: 0;
}

.size-form-custom {
  height: 50px;
}

.section-custom {
  margin-bottom: 70px;
}

.section-title {
  margin-bottom: 40px
}

.section-title.small {
  font-size: 18px;
  font-family: 'Karla', sans-serif;
}

.section-title.big {
  font-size: 45px;
  margin-bottom: 50px;
  font-weight: bold;
}

.category-card {
  img {
    height: 350px;
  }
}

.latest-card {

  &:hover,
  &:focus {
    .card-body {
      box-shadow: 0px 2px 29px -1px rgba(176, 176, 176, 1);
      background: transparent;
    }
  }
}

.headline-card {
  img {
    height: 380px;
  }

  &:hover,
  &:focus {
    top: -30px;
  }
}

.action {
  margin-bottom: 20px;
}

.container-detail {
  width: 800px;
  margin: 0 auto;

  .wrap-detail-title {
    margin-bottom: 40px;
  }

  .detail-author {
    a {
      font-size: 20px;
    }
  }

  .detail-content-item {
    line-height: 2;

    blockquote {
      background: #f9f9f9;
      border-left: 10px solid #ccc;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";
    }

    blockquote:before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }

    blockquote p {
      display: inline;
    }
  }

  @media (max-width: 900px) {
    width: auto;
  }
}

.wrap-hover-card {
  position: relative;

  .category-label {
    position: absolute;
    bottom: 40px;
    right: 0;
    background: #fff;
    padding: 5px 20px;
    color: #333333;
    font-weight: 600;
  }
}

.subscribe-items {
  .container-subscribe-items {
    display: flex;

    @media #{$smartphone-tablet} {
      display: inherit;
    }
  }

  h3 {
    color: #fff;
  }

  background-color: $primary-turquoise;
  color: #fff;
  padding: 50px;

  .subscribe-label {
    width: 40%;
    margin-right: 60px;

    .section-title.big {
      margin-bottom: 10px;
      font-size: 35px;
    }

    @media #{$smartphone-tablet} {
      width: 100%;
    }
  }

  .subscribe-input {
    margin-right: 30px;
    background: #142A3B;
    border: 1px solid #142A3B;
  }

  .subscribe-btn {
    padding: 0 40px;
    background: #fff;
    color: $primary-turquoise;
  }

  .subscribe-form {
    display: flex;
    align-items: center;
    width: 60%;

    @media #{$smartphone-tablet} {
      display: inherit;
      width: 100%;
    }
  }
}

.section-header {
  position: relative;
  height: 70vh;

  .header-img {
    position: absolute;
    height: 70vh;
    object-fit: cover;
    width: 50%;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .wrap-nav-header {
    .nav-header-brand {
      margin-right: 90px;

      @media #{$smartphone-tablet-min-pro} {
        margin-right: 30px;
      }
    }
  }
}

// .section-headline {
//   .wrap-headline-items {
//     .headline-item {
//       &:last-child {
//         // padding-right: 0;
//       }
//     }
//   }
// }

// .section-latest {
//   .wrap-latest-items {
//     .latest-item {
//       &:last-child {
//         // padding-right: 0;
//       }
//     }
//   }
// }

.section-category {
  .big {
    margin-bottom: 30px;
  }

  .slick-slider {
    .slick-prev {
      position: absolute;
      z-index: 10;
      right: 70px;
      top: -42px;
      background: #fff;
      color: $primary-turquoise;
      border: 1px solid $primary-body;
    }

    .slick-next {
      position: absolute;
      top: -42px;
      right: 0;
      background: #fff;
      color: $primary-turquoise;
      border: 1px solid $primary-body;
    }
  }
}